<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="ua">
<head th:fragment="main-head-data">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>BuyReadReview Online Store</title>
    <link th:href="@{/assets/image/icons/logo.jpg}" rel="icon"/>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/assets/css/app.css}" rel="stylesheet" media="all" type="text/css"/>
    <script th:src="@{/jQuery/jquery-3.7.0.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>
<nav th:fragment="navbar" class="navbar navbar-expand-lg bg-light"
     th:switch="${#authentication.principal.authorities.stream().findFirst().get().getAuthority()}">

    <th:block th:case="CLIENT">
        <div th:replace="~{fragment::navbar_CLIENT}">CLIENT navbar</div>
    </th:block>
    <th:block th:case="ADMIN">
        <div th:replace="~{fragment::navbar_ADMIN}">ADMIN navbar</div>
    </th:block>
    <th:block th:case="MANAGER">
        <div th:replace="~{fragment::navbar_MANAGER}">ADMIN navbar</div>
    </th:block>
    <th:block th:case="*">
        <div th:replace="~{fragment::navbar_GUEST}">GUEST navbar</div>
    </th:block>

</nav>
<div class="container" th:fragment="navbar_GUEST">
    <a class="navbar-brand d-flex flex-row align-items-center" th:href="@{/books}">
        <div class="logo-container">
            <img th:src="@{/assets/image/icons/logo.jpg}" alt="Logo">
        </div>
        <div class="ms-1 text-wrap">Buy Read Review</div>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
            <span class="navbar-text" aria-current="page">Role: GUEST</span>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/books}">Каталог</a>
            </li>
        </ul>
        <form th:replace="~{fragment::navbar-search-form}">Search-form</form>
        <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
                <div th:replace="~{fragment::navbar-cart-element}">
                    Cart
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/login}">Увійти</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/register}">Зареєструватися</a>
            </li>
        </ul>
    </div>
</div>
<div class="container" th:fragment="navbar_CLIENT">
    <a class="navbar-brand d-flex flex-row align-items-center" th:href="@{/books}">
        <div class="logo-container">
            <img th:src="@{/assets/image/icons/logo.jpg}" alt="Logo">
        </div>
        <div class="ms-1 text-wrap">Buy Read Review</div>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
            <span class="navbar-text" aria-current="page">Role: CLIENT</span>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/books}">Каталог</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/cabinet/orders}">Замовлення</a>
            </li>
        </ul>
        <form th:replace="~{fragment::navbar-search-form}">Search-form</form>
        <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
                <div th:replace="~{fragment::navbar-cart-element}">
                    Cart
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}">Вийти</a>
            </li>
        </ul>
    </div>
</div>
<div class="container" th:fragment="navbar_ADMIN">
    <a class="navbar-brand d-flex flex-row align-items-center" th:href="@{/books}">
        <div class="logo-container">
            <img th:src="@{/assets/image/icons/logo.jpg}" alt="Logo">
        </div>
        <div class="ms-1 text-wrap">Buy Read Review</div>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
            <span class="navbar-text" aria-current="page">Role: ADMIN</span>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/books}">Каталог</a>
            </li>
        </ul>
        <form th:replace="~{fragment::navbar-search-form}">Search-form</form>
        <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}">Вийти</a>
            </li>
        </ul>
    </div>
</div>
<form th:fragment="navbar-search-form" class="d-flex me-auto align-self-center" role="search">
    <input class="form-control me-2" type="search" placeholder="Знайти книгу за назвою" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Пошук</button>
</form>
<div th:fragment="navbar-cart-element" class="d-flex flex-row">
    <a class="nav-link" th:href="@{/cart}">Корзина</a>
    <div class="d-flex flex-column">
        <div class="d-flex flex-row justify-content-start align-items-center">
            <span>Кількість товарів:</span>
            <span>0</span>
        </div>

        <div class="d-flex flex-row justify-content-start">
            <span>Сума:</span>
            <span>0</span>
        </div>
    </div>
</div>

<div th:fragment="bookRow(bookList)"
        th:each="book : ${bookList}" class="card book-card " style="width: 18rem;"
     th:if="${((#authentication.principal.authorities.stream().findFirst().get().getAuthority()=='GUEST' ||
                            #authentication.principal.authorities.stream().findFirst().get().getAuthority()=='CLIENT' )
                                 && !book.getHidden()) ||
                                 #authentication.principal.authorities.stream().findFirst().get().getAuthority()=='ADMIN'}">
    <div th:if="${#authentication.principal.authorities.stream().findFirst().get().getAuthority()=='ADMIN'}">
        <img th:src="@{/file/book/{file_id}(file_id=${book.getFiles().stream().findFirst().get().getId()})}" class="card-img-top" th:classappend="${book.getHidden()? 'opacity-50' : ''}"alt="...">
        <div class="card-body mt-auto" th:classappend="${book.getHidden()? 'opacity-75' : ''}">
            <a class="card-title h5" th:text="${book.getTitle()}" th:href="@{/books/{id}(id=${book.getId})}" >Card title</a>
            <p class="card-text" th:text="${book.getPrice()}"></p>
            <a th:href="@{/books/{id}(id=${book.id})}" class="btn btn-primary">Переглянути</a>
            <a href="#" class="btn btn-warning">Редагувати</a>
        </div>
    </div>
    <div th:if="${(#authentication.principal.authorities.stream().findFirst().get().getAuthority()=='GUEST' ||
                            #authentication.principal.authorities.stream().findFirst().get().getAuthority()=='CLIENT' )
                                 && !book.getHidden()}">
        <img th:src="@{/file/book/{file_id}(file_id=${book.getFiles().stream().findFirst().get().getId()})}" class="card-img-top" alt="...">
        <div class="card-body mt-auto">
            <a class="card-title h5" th:text="${book.getTitle()}" th:href="@{/books/{id}(id=${book.getId})}" >Card title</a>
            <p class="card-text" th:text="${book.getPrice()}"></p>
            <a href="#" class="btn btn-primary">Додати в корзину</a>
        </div>
    </div>
</div>
<footer th:fragment="footer">
    <div class="container">
        <div>Footer</div>
    </div>
</footer>